body {
  background-image: url("../static/abstract background.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure full height */
}

.menu-bar{
  display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
padding: 8px 20px;
color: white;
height: 60px;
}
.menu-bar .logo{
  font-size: 1.5rem; /* Adjust size as needed */
margin-left: 20px;
}
.menu-bar ul{
  display: inline-flex;
  list-style: none;
  color: #fff;
  
}
.menu-bar ul li{
  
  margin: 0px 15px;
  padding: 15px;
  
}
.menu-bar ul li a{
  text-decoration: none;
  color: #fff;
}
.active,.menu-bar ul li:hover{
  background: #575757;
  border-radius: 3px;
  text-align: center;
  
}
.sub-menu-1{
  display: none;
}
.menu-bar ul li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: #575757;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
  color: #fff;
}
.menu-bar .fa-solid {
  margin-right:8px ;
  }
.section-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  gap: 20px; /* Gap between sections */
  flex: 1; /* Take remaining vertical space */
  padding: 20px;
  box-sizing: border-box;
}

.section {
  flex: 1;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-block {
  max-width: 800px;
  margin: 0 auto;
}

.profile {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.values,
.features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background: #f9f9f9;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 30%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact {
  background: #333;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.contact a {
  color: #ffd700;
  text-decoration: none;
}
