*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../static/abstract background.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;  
    
}
.menu-bar{
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 40px;
  color: white;
  height: 70px;
}
.menu-bar .logo{
    font-size: 1.5rem; /* Adjust size as needed */
  margin-left: 20px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
    
}
.menu-bar ul li{
    margin: 0px 15px;
    padding: 15px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: #fff;
}
.active,.menu-bar ul li:hover{
    background: #575757;
    border-radius: 3px;
    text-align: center;

}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #575757;
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #fff;
}
.menu-bar .fa-solid {
    margin-right:8px ;
    }
.content {
    
    max-width: 600px;
    margin-top: 100px;/* Adjust this to move content higher or lower */
    margin-bottom: 80px;
    margin-left: 460px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 20px;
    color: #000;
    text-align: justify; /* Justify the text in the paragraph */
}

.buttons {
    display: flex;
    gap: 20px; /* Space between buttons */
    
}

button {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
}

button:hover {
    background-color: #005f5f;
}
