/* General body and container styles */
body {
    font-family: Arial, sans-serif;
    background-image: url("../static/background.jpg");
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    background: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px); /* Frosted glass effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

/* Form box styles */
.form-box {
    display: flex;
    flex-direction: column;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

/* Input group styles */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    background: transparent; /* Transparent background */
    border: none;           /* No border */
    outline: none;          /* No outline on focus */
    font-size: 14px;        /* Optional: Set font size */
    position: relative;
    z-index: 1;
}

.input-group::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #ccc; /* Horizontal line */
    z-index: 0;
}

/* Check box and button styles */
.check-box {
    margin-right: 5px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Account link styles */
.account-link {
    text-align: center;
    margin-top: 10px;
}

.account-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
}

.account-link a:hover {
    text-decoration: underline;
}

/* Links container styles */
.links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.link:hover {
    text-decoration: underline;
}
