
body {
    font-family: Arial, sans-serif;
    background-image: url("../static/background.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 60px auto;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007BFF;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#output p {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}

.emotion-image {
    margin-top: 20px;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

ul li a:hover {
    background-color: #e0e0e0;
    color: #007BFF;
}

